<div class="navbar navbar-default yamm" role="navigation" id="navbar">
  <div class="container">
    <div class="navbar-header">

      <a class="navbar-brand home" href="<%= page_path('index') %>" data-animate-hover="bounce">
        <img src="img/logo.png" alt="Obaju logo" class="hidden-xs">
        <img src="img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
      </a>

      <div class="navbar-buttons">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-align-justify"></i>
        </button>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
          <span class="sr-only">Toggle search</span>
          <i class="fa fa-search"></i>
        </button>
        <a class="btn btn-default navbar-toggle" href="<%= page_path('basket') %>">
          <i class="fa fa-shopping-cart"></i>
          <span class="hidden-xs">3 items in cart</span>
        </a>
      </div>
    </div>
    <!--/.navbar-header -->

    <div class="navbar-collapse collapse" id="navigation">

      <ul class="nav navbar-nav navbar-left">
        <li class="active"><a href="<%= page_path('index') %>">Home</a>
        </li>
        <% parent_categories.each do |category| %>
        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">
            <%= category.title %>
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Clothing</h5>
                    <ul>
                      <li><a href="<%= page_path('category') %>">T-shirts</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Shirts</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Pants</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Accessories</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Shoes</h5>
                    <ul>
                      <li><a href="<%= page_path('category') %>">Trainers</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Sandals</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Hiking shoes</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Casual</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Accessories</h5>
                    <ul>
                      <li><a href="<%= page_path('category') %>">Trainers</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Sandals</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Hiking shoes</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Casual</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Hiking shoes</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Casual</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Featured</h5>
                    <ul>
                      <li><a href="<%= page_path('category') %>">Trainers</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Sandals</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Hiking shoes</a>
                      </li>
                    </ul>
                    <h5>Looks and trends</h5>
                    <ul>
                      <li><a href="<%= page_path('category') %>">Trainers</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Sandals</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Hiking shoes</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.yamm-content -->
            </li>
          </ul>
        </li>
        <% end %>

        <li class="dropdown yamm-fw">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Template
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <div class="yamm-content">
                <div class="row">
                  <div class="col-sm-3">
                    <h5>Shop</h5>
                    <ul>
                      <li><a href="<%= page_path('index') %>">Homepage</a>
                      </li>
                      <li><a href="<%= page_path('category') %>">Category - sidebar left</a>
                      </li>
                      <li><a href="<%= page_path('category-right') %>">Category - sidebar
                        right</a>
                      </li>
                      <li>
                        <a href="<%= page_path('category-full') %>">Category - full width</a>
                      </li>
                      <li><a href="<%= page_path('detail') %>">Product detail</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>User</h5>
                    <ul>
                      <li><a href="<%= page_path('register') %>">Register / login</a>
                      </li>
                      <li><a href="<%= page_path('customer-orders') %>">Orders history</a>
                      </li>
                      <li>
                        <a href="<%= page_path('customer-order') %>">Order history detail</a>
                      </li>
                      <li><a href="<%= page_path('customer-wishlist') %>">Wishlist</a>
                      </li>
                      <li><a href="<%= page_path('customer-account') %>">Customer account /
                        change password</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Order process</h5>
                    <ul>
                      <li><a href="<%= page_path('basket') %>">Shopping cart</a>
                      </li>
                      <li><a href="<%= page_path('checkout1') %>">Checkout - step 1</a>
                      </li>
                      <li><a href="<%= page_path('checkout2') %>">Checkout - step 2</a>
                      </li>
                      <li><a href="<%= page_path('checkout3') %>">Checkout - step 3</a>
                      </li>
                      <li><a href="<%= page_path('checkout4') %>">Checkout - step 4</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-3">
                    <h5>Pages and blog</h5>
                    <ul>
                      <li><a href="<%= page_path('blog') %>">Blog listing</a>
                      </li>
                      <li><a href="<%= page_path('post') %>">Blog Post</a>
                      </li>
                      <li><a href="<%= page_path('faq') %>">FAQ</a>
                      </li>
                      <li><a href="<%= page_path('text') %>">Text page</a>
                      </li>
                      <li>
                        <a href="<%= page_path('text-right') %>">Text page - right sidebar</a>
                      </li>
                      <li><a href="<%= page_path('404') %>">404 page</a>
                      </li>
                      <li><a href="<%= page_path('contact') %>">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- /.yamm-content -->
            </li>
          </ul>
        </li>
      </ul>

    </div>
    <!--/.nav-collapse -->

    <div class="navbar-buttons">

      <div class="navbar-collapse collapse right" id="basket-overview">
        <a href="<%= page_path('basket') %>" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">3 items in cart</span></a>
      </div>
      <!--/.nav-collapse -->

      <div class="navbar-collapse collapse right" id="search-not-mobile">
        <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
          <span class="sr-only">Toggle search</span>
          <i class="fa fa-search"></i>
        </button>
      </div>

    </div>

    <div class="collapse clearfix" id="search">

      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

			<button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i></button>

		    </span>
        </div>
      </form>

    </div>
    <!--/.nav-collapse -->

  </div>
  <!-- /.container -->
</div>
<!-- /#navbar -->